
.vs/FlappyBird/v16/.suo
*.json
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
*.sln
*.vcxproj
*.filters
*.user
*.dll
FlappyBird/.vs/FlappyBird/v16/.suo
*.ipch
*.log
*.recipe
*.tlog
*.obj
*.idb
*.pdb
*.ilk
*.exe
